.buttonAristo.buttonAristo {
  left: 310px;
  top: 746.0165px;
  width: 87.9884px;
  height: 82.9835px;
}
.shadow.shadow {
  left: 6.5939%;
  right: 6.5929%;
  top: -5.4946%;
  bottom: 7.6924%;
  border-radius: 7.7346px;
  filter: blur(7.251152992248535px);
}
.inset.inset {
  border-radius: 11.6018px;
}
.rectangle.rectangle {
  left: 2.9005px;
  right: 2.8889px;
  top: 2.9005px;
  bottom: 2.884px;
  border-radius: 11.6018px;
  box-shadow: 0px 3.8673px 3.8673px 0px #00000040, inset 0px -3.8673px 0px 0px #fff, inset 0px 3.8673px 0px 0px #0003;
}
.unnamed {
  opacity: 0.9;
  color: #000;
  font-size: 46.4074px;
  font-weight: bold;
  font-style: oblique;
  font-family: Futura, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 27.0378px;
  top: 26.1042px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buttonAristo2.buttonAristo2 {
  left: 310px;
  top: 641px;
  width: 87.9884px;
  height: 82.9835px;
}
.shadow2.shadow2 {
  right: 6.5935%;
  border-radius: 7.7346px;
  filter: blur(7.251152992248535px);
}
.inset2.inset2 {
  border-radius: 11.6018px;
}
.rectangle2.rectangle2 {
  left: 2.9005px;
  right: 2.8889px;
  top: 2.9005px;
  bottom: 2.884px;
  border-radius: 11.6018px;
  box-shadow: 0px 3.8673px 3.8673px 0px #00000040, inset 0px -3.8673px 0px 0px #fff, inset 0px 3.8673px 0px 0px #0003;
}
._1 {
  opacity: 0.9;
  color: #000;
  font-size: 46.4074px;
  font-weight: bold;
  font-style: oblique;
  font-family: Futura, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 27.0378px;
  top: 26.1042px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buttonAristo3.buttonAristo3 {
  left: 438.0113px;
  top: 637.9794px;
  width: 87.9884px;
  height: 82.9835px;
}
.shadow3.shadow3 {
  left: 6.5939%;
  right: 6.5929%;
  top: -5.4946%;
  bottom: 7.6924%;
  border-radius: 7.7346px;
  filter: blur(7.251152992248535px);
}
.inset3.inset3 {
  border-radius: 11.6018px;
}
.rectangle3.rectangle3 {
  left: 2.9005px;
  right: 2.8889px;
  top: 2.9005px;
  bottom: 2.884px;
  border-radius: 11.6018px;
  box-shadow: 0px 3.8673px 3.8673px 0px #00000040, inset 0px -3.8673px 0px 0px #fff, inset 0px 3.8673px 0px 0px #0003;
}
._2 {
  opacity: 0.9;
  color: #000;
  font-size: 46.4074px;
  font-weight: bold;
  font-style: oblique;
  font-family: Futura, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 27.0378px;
  top: 26.1042px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buttonAristo4.buttonAristo4 {
  left: 566.0226px;
  top: 637.9794px;
  width: 87.9884px;
  height: 82.9835px;
}
.shadow4.shadow4 {
  left: 6.5939%;
  right: 6.5929%;
  top: -5.4946%;
  bottom: 7.6924%;
  border-radius: 7.7346px;
  filter: blur(7.251152992248535px);
}
.inset4.inset4 {
  border-radius: 11.6018px;
}
.rectangle4.rectangle4 {
  left: 2.9005px;
  right: 2.8889px;
  top: 2.9005px;
  bottom: 2.884px;
  border-radius: 11.6018px;
  box-shadow: 0px 3.8673px 3.8673px 0px #00000040, inset 0px -3.8673px 0px 0px #fff, inset 0px 3.8673px 0px 0px #0003;
}
._3 {
  opacity: 0.9;
  color: #000;
  font-size: 46.4074px;
  font-weight: bold;
  font-style: oblique;
  font-family: Futura, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 27.0378px;
  top: 26.1042px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buttonAristo5.buttonAristo5 {
  left: 310px;
  top: 530px;
  width: 87.9884px;
  height: 83px;
}
.shadow5.shadow5 {
  left: 6.5939%;
  right: 6.5929%;
  border-radius: 7.7346px;
  filter: blur(7.251152992248535px);
}
.inset5.inset5 {
  border-radius: 11.6018px;
}
.rectangle5.rectangle5 {
  left: 2.9005px;
  right: 2.8889px;
  top: 2.9005px;
  bottom: 2.9005px;
  border-radius: 11.6018px;
  box-shadow: 0px 3.8673px 3.8673px 0px #00000040, inset 0px -3.8673px 0px 0px #fff, inset 0px 3.8673px 0px 0px #0003;
}
._7 {
  opacity: 0.9;
  color: #000;
  font-size: 46.4074px;
  font-weight: bold;
  font-style: oblique;
  font-family: Futura, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 27.0378px;
  top: 26.1042px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buttonAristo6.buttonAristo6 {
  left: 438.0113px;
  top: 530px;
  width: 87.9884px;
  height: 83px;
}
.shadow6.shadow6 {
  left: 6.5939%;
  right: 6.5929%;
  border-radius: 7.7346px;
  filter: blur(7.251152992248535px);
}
.inset6.inset6 {
  border-radius: 11.6018px;
}
.rectangle6.rectangle6 {
  left: 2.9005px;
  right: 2.8889px;
  top: 2.9005px;
  bottom: 2.9005px;
  border-radius: 11.6018px;
  box-shadow: 0px 3.8673px 3.8673px 0px #00000040, inset 0px -3.8673px 0px 0px #fff, inset 0px 3.8673px 0px 0px #0003;
}
._8 {
  opacity: 0.9;
  color: #000;
  font-size: 46.4074px;
  font-weight: bold;
  font-style: oblique;
  font-family: Futura, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 27.0378px;
  top: 26.1042px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buttonAristo7.buttonAristo7 {
  left: 566.0226px;
  top: 530px;
  width: 87.9884px;
  height: 83px;
}
.shadow7.shadow7 {
  left: 6.5939%;
  right: 6.5929%;
  border-radius: 7.7346px;
  filter: blur(7.251152992248535px);
}
.inset7.inset7 {
  border-radius: 11.6018px;
}
.rectangle7.rectangle7 {
  left: 2.9005px;
  right: 2.8889px;
  top: 2.9005px;
  bottom: 2.9005px;
  border-radius: 11.6018px;
  box-shadow: 0px 3.8673px 3.8673px 0px #00000040, inset 0px -3.8673px 0px 0px #fff, inset 0px 3.8673px 0px 0px #0003;
}
._9 {
  opacity: 0.9;
  color: #000;
  font-size: 46.4074px;
  font-weight: bold;
  font-style: oblique;
  font-family: Futura, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 27.0378px;
  top: 26.1042px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buttonAristo8.buttonAristo8 {
  left: 566.3519px;
  top: 746.0165px;
  width: 87.9884px;
  height: 82.9835px;
}
.shadow8.shadow8 {
  left: 6.5939%;
  right: 6.5929%;
  top: -5.4946%;
  bottom: 7.6924%;
  border-radius: 7.7346px;
  filter: blur(7.251152992248535px);
}
.inset8.inset8 {
  border-radius: 11.6018px;
}
.rectangle8.rectangle8 {
  left: 2.9005px;
  right: 2.8889px;
  top: 2.9005px;
  bottom: 2.884px;
  border-radius: 11.6018px;
  background-color: #f1540d;
  background-image: linear-gradient(180deg, #ffff 0%, #74747400 44%, #000f 100%);
  box-shadow: 0px 3.8673px 3.8673px 0px #00000040, inset 0px -3.8673px 0px 0px #fff, inset 0px 3.8673px 0px 0px #0003;
}
.c {
  opacity: 0.9;
  color: #000;
  font-size: 46.4074px;
  font-weight: bold;
  font-style: oblique;
  font-family: Futura, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 28.0378px;
  top: 26.1042px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buttonAristo9.buttonAristo9 {
  left: 695.0115px;
  top: 746.0165px;
  width: 87.9884px;
  height: 82.9835px;
}
.shadow9.shadow9 {
  right: 6.5935%;
  border-radius: 7.7346px;
  filter: blur(7.251152992248535px);
}
.inset9.inset9 {
  border-radius: 11.6018px;
}
.rectangle9.rectangle9 {
  left: 2.9005px;
  right: 2.8889px;
  top: 2.9005px;
  bottom: 2.884px;
  border-radius: 11.6018px;
  background-color: #f5b201;
  background-image: linear-gradient(180deg, #ffff 0%, #74747400 44%, #000f 100%);
  box-shadow: 0px 3.8673px 3.8673px 0px #00000040, inset 0px -3.8673px 0px 0px #ffffff80,
    inset 0px 3.8673px 0px 0px #0003;
}
.buttonAristo10.buttonAristo10 {
  left: 695.0115px;
  top: 638.0082px;
  width: 87.9884px;
  height: 82.9835px;
}
.shadow10.shadow10 {
  right: 6.5935%;
  border-radius: 7.7346px;
  filter: blur(7.251152992248535px);
}
.inset10.inset10 {
  border-radius: 11.6018px;
}
.rectangle10.rectangle10 {
  left: 2.9005px;
  right: 2.8889px;
  top: 2.9005px;
  bottom: 2.884px;
  border-radius: 11.6018px;
  background-color: #f5b201;
  background-image: linear-gradient(180deg, #ffff 0%, #74747400 44%, #000f 100%);
  box-shadow: 0px 3.8673px 3.8673px 0px #00000040, inset 0px -3.8673px 0px 0px #ffffff80,
    inset 0px 3.8673px 0px 0px #0003;
}
.buttonAristo11.buttonAristo11 {
  left: 695.0115px;
  top: 530px;
  width: 87.9884px;
  height: 83px;
}
.shadow11.shadow11 {
  left: 6.5939%;
  right: 6.5929%;
  border-radius: 7.7346px;
  filter: blur(7.251152992248535px);
}
.inset11.inset11 {
  border-radius: 11.6018px;
}
.rectangle11.rectangle11 {
  left: 2.9005px;
  right: 2.8889px;
  top: 2.9005px;
  bottom: 2.9005px;
  border-radius: 11.6018px;
  background-color: #f5b201;
  background-image: linear-gradient(180deg, #ffff 0%, #74747400 44%, #000f 100%);
  box-shadow: 0px 3.8673px 3.8673px 0px #00000040, inset 0px -3.8673px 0px 0px #ffffff80,
    inset 0px 3.8673px 0px 0px #0003;
}
.unnamed2 {
  opacity: 0.9;
  color: #000;
  font-size: 60px;
  font-family: Futura, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26.0378px;
  top: 13.1042px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buttonAristo12.buttonAristo12 {
  left: 438.6596px;
  top: 746.0165px;
  width: 87.9884px;
  height: 82.9835px;
}
.shadow12.shadow12 {
  left: 6.5939%;
  right: 6.5929%;
  top: -5.4946%;
  bottom: 7.6924%;
  border-radius: 7.7346px;
  filter: blur(7.251152992248535px);
}
.inset12.inset12 {
  border-radius: 11.6018px;
}
.rectangle12.rectangle12 {
  left: 2.9005px;
  right: 2.8889px;
  top: 2.9005px;
  bottom: 2.884px;
  border-radius: 11.6018px;
  box-shadow: 0px 3.8673px 3.8673px 0px #00000040, inset 0px -3.8673px 0px 0px #fff, inset 0px 3.8673px 0px 0px #0003;
}
.unnamed3 {
  opacity: 0.9;
  color: #000;
  font-size: 38.6728px;
  font-family: Futura, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 32.0378px;
  top: 29.1042px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1080px;
  height: 1080px;
  align-items: flex-start;
  background-color: #eee;
  overflow: hidden;
}
.case {
  position: absolute;
  left: 240px;
  top: 296px;
  width: 600px;
  height: 600px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.case2 {
  position: absolute;
  left: 257px;
  top: 313px;
  width: 566px;
  height: 569px;
  overflow: visible;
  filter: drop-shadow(0px 4px 8px #00000080);
}
.icon2 {
  width: 100%;
  height: 100%;
}
.case3 {
  position: absolute;
  left: 262px;
  top: 318px;
  width: 556px;
  height: 556px;
  overflow: visible;
  filter: drop-shadow(0px 4px 8px #00000080);
}
.icon3 {
  width: 100%;
  height: 100%;
}
.case4 {
  position: absolute;
  left: 255px;
  top: 392px;
  width: 570px;
  height: 100px;
  overflow: visible;
  filter: drop-shadow(0px 8px 0px #00000040);
}
.icon4 {
  width: 100%;
  height: 100%;
}
.button {
  position: absolute;
  left: 288px;
  top: 339px;
  width: 91px;
  height: 42px;
  align-items: flex-start;
}
.shadow13 {
  opacity: 0.8;
  position: absolute;
  left: 6.5421%;
  right: 6.5421%;
  top: 0;
  bottom: -9.0909%;
  border-radius: 8px;
  background-color: #222;
  filter: blur(7.5px);
}
.inset13 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 8px;
  background-color: #222;
}
.rectangle13 {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border-radius: 4px;
  background-color: #e94815;
  box-shadow: 0px 4px 4px 0px #00000040, inset 0px -4px 0px 0px #fff;
}
.button2 {
  position: absolute;
  left: 692px;
  top: 347px;
  width: 91px;
  height: 30px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.union {
  position: absolute;
  left: 722px;
  top: 675px;
  width: 35px;
  height: 135px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.display {
  position: absolute;
  left: 284px;
  top: 411px;
  width: 513px;
  height: 70px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.display2 {
  position: absolute;
  left: 303px;
  top: 421px;
  width: 476px;
  height: 52px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.display3 {
  position: absolute;
  left: 284px;
  top: 411px;
  width: 513px;
  height: 37px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
._12345678 {
  color: #980000;
  font-size: 25.6929px;
  font-family: Digital Numbers, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5em;
  position: absolute;
  left: 455px;
  top: 428px;
  width: 320.5654px;
  height: 33.5999px;
  text-align: end;
  align-items: end;
  justify-content: center;
  filter: blur(6.021763801574707px);
  flex-direction: column;
}
._123456782 {
  color: #ff7a7a;
  font-size: 25.6929px;
  font-family: Digital Numbers, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5em;
  position: absolute;
  left: 458.4346px;
  top: 430.4001px;
  width: 320.5654px;
  height: 33.5999px;
  text-align: end;
  align-items: end;
  justify-content: center;
  text-shadow: 0px 1.6058036088943481px 12.043527603149414px #f00, 1.6058036088943481px 0px 4.014509201049805px #af005f;
  flex-direction: column;
}
